@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  @apply font-ubuntu;
  /* height: 300vh; */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #B65001 #f7f7f7; /* scrollbar color myMarron and track color */

}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f7f7f7; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #B65001; /* Color of the scrollbar handle (myMarron) */
  border-radius: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
